.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f44336;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .nav-link.active {
    background-color: #d32f2f;
  }
  